doctype html
html
head
title Info
meta name="viewport" content="width=device-width,initial-scale=1"
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag "application", "data-turbo-track": "reload"
= javascript_importmap_tags

= stylesheet_link_tag "application"
= turbo_include_tags
script src="https://cdn.tailwindcss.com"
body
- flash.each do |type, msg|
  div class="p-4 mb-4 text-white bg-red-500"
    = msg
= yield